<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Заявление на перенос рабочего времени</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.css}">
    <link rel="stylesheet" th:href="@{/webjars/jquery.datetimepicker.css}">
    <script th:src="@{/webjars/jquery/1.12.4/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/jquery.datetimepicker.js}" type="text/javascript"></script>
    <script>
        $( function() {

            /* Russian (UTF-8) initialisation for the jQuery UI date picker plugin. */
            /* Written by Andrew Stromnov (stromnov@gmail.com). */
            ( function( factory ) {
                if ( typeof define === "function" && define.amd ) {

                    // AMD. Register as an anonymous module.
                    define( [ "../widgets/datepicker" ], factory );
                } else {

                    // Browser globals
                    factory( jQuery.datepicker );
                }
            }( function( datepicker ) {

                datepicker.regional.ru = {
                    closeText: "Закрыть",
                    prevText: "&#x3C;Пред",
                    nextText: "След&#x3E;",
                    currentText: "Сегодня",
                    monthNames: [ "Январь","Февраль","Март","Апрель","Май","Июнь",
                        "Июль","Август","Сентябрь","Октябрь","Ноябрь","Декабрь" ],
                    monthNamesShort: [ "Янв","Фев","Мар","Апр","Май","Июн",
                        "Июл","Авг","Сен","Окт","Ноя","Дек" ],
                    dayNames: [ "воскресенье","понедельник","вторник","среда","четверг","пятница","суббота" ],
                    dayNamesShort: [ "вск","пнд","втр","срд","чтв","птн","сбт" ],
                    dayNamesMin: [ "Вс","Пн","Вт","Ср","Чт","Пт","Сб" ],
                    weekHeader: "Нед",
                    dateFormat: "dd.mm.yy",
                    firstDay: 1,
                    isRTL: false,
                    showMonthAfterYear: false,
                    yearSuffix: "" };
                datepicker.setDefaults( datepicker.regional.ru );
                return datepicker.regional.ru;
            } ) );

            $( ".dpick" ).datepicker();
            $('textarea').on('keydown', function(e){
                if(e.which == 13) {e.preventDefault();}
            }).on('input', function(){
                $(this).height(1);
                var totalHeight = $(this).prop('scrollHeight') - parseInt($(this).css('padding-top')) - parseInt($(this).css('padding-bottom'));
                $(this).height(totalHeight);
            });
        });
    </script>
    <script>
        jQuery(function($){
            $.mask.definitions['H'] = "[0-2]";
            $.mask.definitions['h'] = "[0-9]";
            $.mask.definitions['M'] = "[0-5]";
            $.mask.definitions['m'] = "[0-9]";
           $(".time").mask("Hh:Mm");
        });
    </script>
    <style>
        body {
            font-family: "Times New Roman", Times, serif;
            font-size: 16px;
            font-style: normal;
            color: rgb(0, 43, 128);
            background-color: rgb(212, 212, 212);
        }
        #commom_sheet{
            width: 600px;
            height: 800px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-color: rgb(238, 241, 255);            
        }
        #document_header{
            position: absolute;
            width: 190px;
            height: fit-content;
            padding: 10px;
            top: 30px;
            right: 20px;
        }
        #document_title{
            width: 50px;
            height: 16px;
            position: absolute;
            left: 50%;
            top: 35%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
        #document_text{
            position: absolute;
            width: 90%;
            height: fit-content;
            padding: 10px;
            left: 50%;
            top: 45%;
            transform: translate(-50%, -50%);
        }
        
        #signature{
            position: absolute;
            width: 90%;
            height: fit-content;
            padding: 10px;
            left: 50%;
            top: 55%;
            transform: translate(-50%, -50%);
        }          
        form{
            position: absolute;
            width: 100%;
            height: 100%;
        }
        textarea {
            width: 100%;
            height:18px;
            padding: 5px;
            line-height:15px;
            min-width: 180px;
            max-width: 180px;
            transition: width 0.25s;
            border: 0px;
            border-bottom: 1px solid rgb(119, 121, 255);
            border-radius: 10px;
            resize:none;
            overflow:hidden;
            font: inherit;
            font-size: inherit;
            font-style: inherit;
        }
        p {
            margin: 0px;
        }
        th{
            font: inherit;
            font-size: inherit;
            font-style: inherit;   
        }
        input {
            width: 100%;
            height:18px;
            border: 0px;
            border-bottom: 1px solid rgb(119, 121, 255);
            border-radius: 10px;
            padding: 5px;
            font: inherit;
            font-size: inherit;
            font-style: inherit;            
        }
        #submit{
            position: absolute;
            width: 50%;
            height: 10%;
            padding: 10px;
            left: 50%;
            top: 75%;
            transform: translate(-50%, -50%);
            border: 0px;
            text-align: center;
            background-color: rgb(0, 82, 204);
            color:white;
            border-radius: 20px;
        }
    </style>
</head>
<body>
    <div id="commom_sheet">
            <form action="#" th:action="@{/change_working_period}" method="post">
                <div id="document_header">
                    <p >Заместителю генерального <br>директора <br>Барышниковой Л. С. <br>от</p>
                    <div style="width: 180px;">                        
                        <textarea id="position" th:name="position" placeholder="Должность в род.падеже" ></textarea>
                        <textarea id="departament_name" th:name="dept" placeholder="Отдел в род.падеже"></textarea>
                        <input style="width: 100%;" type="text" th:name="fromSigner" placeholder="ФИО в род.падеже"/>
                    </div>
                </div>
                <p id="document_title">ЗАЯВЛЕНИЕ</p>
                <div id="document_text">
                    <p>Прошу разрешить мне исполнять мои должностные обязанности по графику<br></p>
                    <table>
                        <tr>
                            <th><p>c </p></th>
                            <th><input style="width: 40px" size="10px" type="text" class="time" placeholder="hh:mm" th:name="startTime"/></th>
                            <th><p> по </p></th>
                            <th><input style="width: 40px" size="10px" type="text" class="time" placeholder="hh:mm" /></th>
                            <th><p> в период с </p></th>
                            <th><input style="width: 75px" size="10px" type="text" class="dpick" th:name="startDate" th:value="${startDate}"/></th>
                            <th><p> по </p></th>
                            <th><input style="width: 75px" size="10px" type="text" class="dpick" th:name="endDate" th:value="${endDate}"/></th>
                            <th><p> в связи с</p></th>
                        </tr>
                    </table>
                    <p>семейными обстоятельствами.</p>
                </div>
                <table id="signature">
                        <tr>
                            <th><input style="width: 75px; border-radius: 20px;" size="10px" type="text" class="dpick" th:name="docDate"/></th>
                            <th style="width: 50%"></th>
                            <th><input style="width: 150px; border-radius: 20px; text-align: center" type="text" th:name="signer" placeholder="ФИО"/></th>
                        </tr>
                </table>                
                <input id="submit" type="submit" th:value="'Напечатать (на устр-ве ' + ${printer_name} +')'"/>
            </form>
    </div>
</body>
</html>