<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Заявление на перенос рабочего периода</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.css}">
    <script th:src="@{/webjars/jquery/1.12.4/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/jquery-maskedinput/1.4.0/jquery.maskedinput.js}" type="text/javascript"></script>
    <script>
        $( function() {

            /* Russian (UTF-8) initialisation for the jQuery UI date picker plugin. */
            /* Written by Andrew Stromnov (stromnov@gmail.com). */
            ( function( factory ) {
                if ( typeof define === "function" && define.amd ) {

                    // AMD. Register as an anonymous module.
                    define( [ "../widgets/datepicker" ], factory );
                } else {

                    // Browser globals
                    factory( jQuery.datepicker );
                }
            }( function( datepicker ) {

                datepicker.regional.ru = {
                    closeText: "Закрыть",
                    prevText: "&#x3C;Пред",
                    nextText: "След&#x3E;",
                    currentText: "Сегодня",
                    monthNames: [ "Январь","Февраль","Март","Апрель","Май","Июнь",
                        "Июль","Август","Сентябрь","Октябрь","Ноябрь","Декабрь" ],
                    monthNamesShort: [ "Янв","Фев","Мар","Апр","Май","Июн",
                        "Июл","Авг","Сен","Окт","Ноя","Дек" ],
                    dayNames: [ "воскресенье","понедельник","вторник","среда","четверг","пятница","суббота" ],
                    dayNamesShort: [ "вск","пнд","втр","срд","чтв","птн","сбт" ],
                    dayNamesMin: [ "Вс","Пн","Вт","Ср","Чт","Пт","Сб" ],
                    weekHeader: "Нед",
                    dateFormat: "dd.mm.yy",
                    firstDay: 1,
                    isRTL: false,
                    showMonthAfterYear: false,
                    yearSuffix: "" };
                datepicker.setDefaults( datepicker.regional.ru );
                return datepicker.regional.ru;
            } ) );

            $( ".dpick" ).datepicker();
        } );
    </script>
    <script>
        jQuery(function($){
            $.mask.definitions['H'] = "[0-2]";
            $.mask.definitions['h'] = "[0-9]";
            $.mask.definitions['M'] = "[0-5]";
            $.mask.definitions['m'] = "[0-9]";
           $(".time").mask("Hh:Mm");
        });
    </script>
    <style>
        body {
            background-color: #cccccc;
        }

        p {
            min-width: 400px;
            max-width: 400px;
        }

        p input {
            width: 100%;
        }
    </style>
</head>
<body>
<h3>Заявление на перенос рабочего периода</h3>
<form action="#" th:action="@{/change_working_period}" method="post">
    <p>Дата начала периода: <input size="10px" type="text" class="dpick" th:name="startDate" th:value="${startDate}"/></p>
    <p>Дата конца периода: <input size="10px" type="text" class="dpick" th:name="endDate" th:value="${endDate}"/></p>
    <p>Время начала рабочего дня: <input type="text" placeholder="hh:mm" th:name="startTime" placeholder="hh:mm" th:name="startTime"/></p>
    <p>Отдел <small>(в род. падеже)</small>: <input type="text" th:name="dept" value="отдела разработки и внедрения"/></p>
    <p>Должность <small>(в род. падеже)</small>: <input type="text" th:name="position" value="ведущего программиста"/></p>
    <p>ФИО: <input type="text" th:name="signer" value="Баранов С.В."/></p>
    <p>ФИО <small>(в род. падеже)</small>: <input type="text" th:name="fromSigner" value="Баранова С.В."/></p>
    <input type="submit" th:value="'Напечатать (на устр-ве ' + ${printer_name} +')'"/>
</form>
</body>
</html>