<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Заявление отправлено на печать</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        body{
            background-color: #cccccc;
        }
    </style>
</head>
<body>
<h3>Заявление отправлено на печать!</h3>
<a th:href="@{/}">Вернуться на главную страницу</a>
</body>
</html>