<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Заявление на перенос рабочего времени</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.css}">
    <link rel="stylesheet" th:href="@{/webjars/jquery.datetimepicker.css}">
    <script th:src="@{/webjars/jquery/1.12.4/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.js}" type="text/javascript"></script>
    <script th:src="@{/webjars/jquery.datetimepicker.js}" type="text/javascript"></script>
    <script>
        $( function() {

            /* Russian (UTF-8) initialisation for the jQuery UI date picker plugin. */
            /* Written by Andrew Stromnov (stromnov@gmail.com). */
            ( function( factory ) {
                if ( typeof define === "function" && define.amd ) {

                    // AMD. Register as an anonymous module.
                    define( [ "../widgets/datepicker" ], factory );
                } else {

                    // Browser globals
                    factory( jQuery.datepicker );
                }
            }( function( datepicker ) {

                datepicker.regional.ru = {
                    closeText: "Закрыть",
                    prevText: "&#x3C;Пред",
                    nextText: "След&#x3E;",
                    currentText: "Сегодня",
                    monthNames: [ "Январь","Февраль","Март","Апрель","Май","Июнь",
                        "Июль","Август","Сентябрь","Октябрь","Ноябрь","Декабрь" ],
                    monthNamesShort: [ "Янв","Фев","Мар","Апр","Май","Июн",
                        "Июл","Авг","Сен","Окт","Ноя","Дек" ],
                    dayNames: [ "воскресенье","понедельник","вторник","среда","четверг","пятница","суббота" ],
                    dayNamesShort: [ "вск","пнд","втр","срд","чтв","птн","сбт" ],
                    dayNamesMin: [ "Вс","Пн","Вт","Ср","Чт","Пт","Сб" ],
                    weekHeader: "Нед",
                    dateFormat: "dd.mm.yy",
                    firstDay: 1,
                    isRTL: false,
                    showMonthAfterYear: false,
                    yearSuffix: "" };
                datepicker.setDefaults( datepicker.regional.ru );
                return datepicker.regional.ru;
            } ) );

            $( ".dpick" ).datepicker();
        } );
    </script>
    <style>
        body {
            background-color: #cccccc;
        }

        p {
            min-width: 400px;
            max-width: 400px;
        }

        p input {
            width: 100%;
        }
    </style>
</head>
<body>
    <h3>Заявление на перенос рабочего времени</h3>
    <form action="#" th:action="@{/form0}" method="post">
        <p>Дата отсутствия: <input size="10px" type="text" class="dpick" th:name="date1" th:value="${date1}"/></p>
        <p>Дата переноса: <input size="10px" type="text" class="dpick" th:name="date2" th:value="${date2}"/></p>
        <p>Кол-во минут <small>(0 - полный день, < 0 - для переноса на раннее утро)</small>: <input type="text" th:name="minutes" value="150"/></p>
        <p>Отдел <small>(в род. падеже)</small>: <input type="text" th:name="dept" value="отдела разработки и внедрения"/></p>
        <p>Должность <small>(в род. падеже)</small>: <input type="text" th:name="position" value="ведущего программиста"/></p>
        <p>ФИО: <input type="text" th:name="fio1" value="Баранов С.В."/></p>
        <p>ФИО <small>(в род. падеже)</small>: <input type="text" th:name="fio2" value="Баранова С.В."/></p>
        <input type="submit" th:value="'Напечатать (на устр-ве ' + ${printer_name} +')'"/>
    </form>
</body>
</html>