<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Окно выбора заявлений для печать</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        body{
            background-color: #cccccc;
        }

    </style>
</head>
<body>
<h3>Печать заявлений</h3>
<ul>
    <li><a th:href="@{/form0}">Заявление на перенос рабочего времени</a></li>
    <li><a th:href="@{/change_working_period}">Заявление на изменение рабочего периода</a></li>
</ul>
</body>
</html>