<dom-module id="vaadin-grid-cell-0" theme-for="vaadin-grid">
    <template>
        <style>
      [part~='header-cell'].vaadin-grid {
background-color:var(--material-background-color);
color:white;
font-size:var(--material-caption-font-size);
font-weight:500;
      }
    </style>
    </template>
</dom-module>